{% extends '_layout' %}

{% block main %}
    <header>

    </header>

    <h2>Locations</h2>

    <section>
        <h2>Things to do</h2>

        {% for entry in craft.entries.section('activities').limit(3).all() %}
            <h5>{{ entry.title }}</h5>
        {% endfor %}
    </section>


    <h2>Plan your visit</h2>

    <h2>Newsletter</h2>

    <h2>Social</h2>
{% endblock %}