.ig-feed {
	position: relative;

	.ig-image {
		flex: 0 0 16.666%;
		height: 16.666vw;
		position: relative;

		&:after {
			content: '';
			position: absolute;
			background: theme-color(dark);
			height: 100%;
			width: 100%;
			opacity: 0;
			transition: (all 0.2s ease-in-out);
		}

		&:hover {
			&:after {
				opacity: 0.2;
			}
		}
	}

	&:before {
		content:'';
		position: absolute;
		background-image: url('/assets/img/squares.png');
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		top: -(map_get($spacers, 5) * 2);
		bottom: -(map_get($spacers, 5) * 1.2);
		transform: translate(-40%, 0) rotate(-30deg);
		width: 50%;
		opacity: 0.3;
	}
}