$networks: (
		twitter:		(color: #00b6f1),
		google:			(color: #dd4b39),
		instagram:		(color: #c32aa3),
		facebook:		(color: #3b5998),
		github:			(color: #231f20),
		linkedin:		(color: #0977b5),
		dribbble:		(color: #ea4c89),
		rss:			(color: #ff6600),
		bodyfanatix:	(color: #427fed)
);
