<footer id="global-footer">
    <div class="container">
        <div class="row mb-3">
            <div class="col">
                <h5>The official tourist board for England.</h5>
            </div>
        </div>

        <div class="row">
            {# Footer nav #}
            <div class="col-lg-4">
                <h6>VisitEngland.co.uk</h6>

                <ul class="list-unstyled">
                    <li>
                        <a href="#" class="text-muted">Destinations</a>
                    </li>

                    <li>
                        <a href="#" class="text-muted">Breaks</a>
                    </li>

                    <li>
                        <a href="#" class="text-muted">Things to do</a>
                    </li>

                    <li>
                        <a href="#" class="text-muted">Plan your visit</a>
                    </li>

                    <li>
                        <a href="#" class="text-muted">Blog</a>
                    </li>

                    <li>
                        <a href="#" class="text-muted">UK</a>
                    </li>
                </ul>

                <hr />

                <ul class="list-unstyled">
                    <li>
                        <a href="#" class="text-muted">About Us</a>
                    </li>

                    <li>
                        <a href="#" class="text-muted">Privacy Policy</a>
                    </li>

                    <li>
                        <a href="#" class="text-muted">Accessibility</a>
                    </li>
                </ul>
            </div>


            <div class="col-lg-8">
                <div class="pl-lg-5">
                    <h6>Connect with us</h6>

                    <ul>
                        <a href="#">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-fw fa-facebook fa-stack-1x"></i>
                            </span>
                        </a>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</footer>