
{# Include meta header
 # -- set meta, include css etc.
 #}
{% include '_meta_header' %}


{# Set main class
 # -- target main.class for page-specific styling
 #}
{% if mainClass is not defined %}
    {% set mainClass = entry is defined ? entry.section.handle : craft.request.firstSegment %}
{% endif %}


{# Include navigation #}
{% include '_global_nav' %}


{# Include main content #}
<main {% if mainClass is defined %}class="{{ mainClass }}"{% endif %}>
    {% block main %}
    {% endblock %}
</main>

{# Footer view #}
{% include '_global_footer' %}


{# Closing tags, scripts etc. #}
{% include '_meta_footer' %}
