<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Visit England: Holidays, days out and tourist information for England</title>
    <meta name="description" content="Discover great UK holiday ideas for family holidays, weekends away, short breaks and days out in England.">
    <link rel="canonical" href="{{ craft.request.url }}">

    {# Internal CSS #}
    {% includeCssFile siteUrl~"src/css/style.css" %}
</head>


{# Navigation #}
<nav>
    Navigation
</nav>


{# Include main content #}
<main>
    {% block main %}
    {% endblock %}
</main>


<footer id="global-footer">
    <p>The official tourist board for England.</p>
</footer>
