<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">

<head>
    {% block head %}
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>{{ siteName }}: Holidays, days out and tourist information for England</title>
        <meta name="description" content="Discover great UK holiday ideas for family holidays, weekends away, short breaks and days out in England.">
        <link rel="canonical" href="{{ craft.app.request.absoluteUrl() }}">
        <link rel="shortcut icon" href="{{ siteUrl }}/favicon.png">

        {# Internal CSS #}
        <link rel="stylesheet" type="text/css" href="{{ siteUrl }}assets/css/visitengland.css">

    {% endblock %}

</head>

<body>